@media all and (max-width: 400px) {
    .header-middle .title {
        font-size: 60px;
    }
    
    .header-bottom .bottom-button {
        width: 289px;
    }

    .bottom-title-area .header-bottom-title {
        font-size: 31px;
        text-align: center;
    }

    .header-bottom .github-buttons {
        width: 289px;
        height: 21px;
    }

    .main-top .left-area {
        margin-left: 0;
    }

    .right-area .tag-title {
        font-size: 28px;
    }

    .main-top .right-area {
        margin-left: 0;
    }

    .right-area .code-area {
        margin-left: 0;
    }

    .code-area .code-img {
        margin-left: 0;
        width: 288px;
    }

    .main .main-middle {
        margin-top: 575px;
    }

    .code-area .code-line {
        height: 0;
    }

    .main-middle .middle-line {
        width: 0;
    }

    .block-area .main-bottom-line {
        width: 0;
    }

    .footer .email {
        width: 240px;
    }

    .footer-middle .footer-line {
        width: 0;
    }

}

@media all and (max-width: 450px) {
    .header-middle .title-description {
        font-size: 20px;
    }    
}

@media all and (max-width: 1000px) {
    .main .main-top {
        height: 1500px;
    }

    .code-area .code-img {
        margin-left: 0;
        width: 288px;
    }

    .main-middle .middle-line {
        width: 0;
    }
}

@media all and (max-width: 700px) {
    .main .main-top {
        height: 1500px;
    }

    .code-area .code-img {
        margin-left: 0;
        width: 288px;
    }

    .main-middle .middle-line {
        width: 0;
    }
}

